<h1>Please Sign up</h1>

<form action="/sessions" method="post">
  <label for="email">
    Email: <input type="email" name="email" required><br>
  </label>
  <label for="password">
    Password: <input type="text" name="password"><br>
  </label>
  <input type="submit" value="Sign in">
</form>
